/* img {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 1px;
  width: 350px;
}
body {
  padding-top: 70px;
}
.row .flex {
  display: inline-flex;
  width: 100%;
}
img {
  width: 75;
  min-height: 100px;
} */

/* .thumbnail {
  display: block;
  position: absolute;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  border-radius: 174px;
  width: 106px;
  transform-style: preserve-3d;
} */

.imgCont {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  top: 10px;
}

.rows {
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.thumbail img {
  display: flex;
  object-fit: cover;
  height: 220px;
  width: 224px;
  border-radius: 117px;
  padding: 10px;
  justify-content: center;
}

.thumbail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
